.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.qwe{
    background-color: white;  
    background-size: cover;
}



body{
  
  background-image: url('https://66.media.tumblr.com/2758c4f4d76d1f0e7f9828d3b9ead6d1/tumblr_n06rgy0bMg1tp2wglo1_500.gif');
background-size: cover;
   
}



 /*
body{

  border-bottom-color: red;

  background-image: url('https://66.media.tumblr.com/2758c4f4d76d1f0e7f9828d3b9ead6d1/tumblr_n06rgy0bMg1tp2wglo1_500.gif');
   
  background-image: url('http://67.media.tumblr.com/4bbe7df06503b0c48891e6a6ac2d9f72/tumblr_mtjdd5o3BU1rjdox6o1_1280.gif');
   
 background-image: url('http://gallery.hd.org/_exhibits/recreation/_more2000/_more10/party-in-pub-in-evening-music-light-show-people-dancing-long-exposure-posterised-3-DHD.gif');
 background-image: url('http://cdn0.dailydot.com/cache/57/33/57334e6484ac88f67bab731491cf53b9.jpg');
     
    background-image: url('');
      
    background-position: right 50px;
background-size: cover;
}

   */
   
.spanBottomLine{
  border-bottom: solid 1px black;
  margin-bottom: 2%;
}


body {
  
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

/*  border-bottom: 1px solid #e5e5e5;
*/
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  /*
  border-top: 1px solid #e5e5e5;
*/
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
