<div class="container">


    {{test}}


    <br>
    <br>

    <div class="row">
        <div class="col-md-6">

            href heroku

            <div class="">
                <button type="submit" ng-click="addUsers()" class="btn btn-success ">Add Users</button>
            </div>

            <br>
            <div class="">
                <button type="submit" ng-click="viewUsers()" class="btn btn-success ">View Users</button>
            </div>
            <br>

            <div class="">
                <button type="submit" ng-click="addEvents()" class="btn btn-success ">Add Events</button>
            </div>
            <br>

            <div class="">
                <button type="submit" ng-click="viewEvents()" class="btn btn-success ">View Events</button>
            </div>
            <br>

            <div class="">
                <button type="submit" ng-click="sarasa()" class="btn btn-success ">sarasa</button>
            </div>
            <br>

            <div class="">
                <button type="submit" ng-click="zarasa()" class="btn btn-success ">zarasaa</button>
            </div>
            <br>


        </div>
        <!--
        <div class="col-md-6">

            next....

            <div class="">
                <button type="submit" ng-click="addUsersJSON()" class="btn btn-success ">Add Users</button>
            </div>

            <br>
            <div class="">
                <button type="submit" ng-click="viewUsersJSON()" class="btn btn-success ">View Users</button>
            </div>
            <br>

            <div class="">
                <button type="submit" ng-click="addEventsJSON()" class="btn btn-success ">Add Events</button>
            </div>
            <br>

            <div class="">
                <button type="submit" ng-click="viewEventsJSON()" class="btn btn-success ">View Events</button>
            </div>
            <br>

            <div class="">
                <button type="submit" ng-click="sarasaJSON()" class="btn btn-success ">sarasa</button>
            </div>
            <br>

            <div class="">
                <button type="submit" ng-click="zarasaJSON()" class="btn btn-success ">zarasaa</button>
            </div>
            <br>


        </div>

-->


    </div>


    {{datta}}



</div>