<div class="gifDanceFixed">
	<div class="container whiteBackground noTrans">

		<ul>
			<li dir-paginate="e in bundle | itemsPerPage: pageSize" current-page="currentPage">
				<div class="spanBottomLine">
					<h3>Event {{$index + 1 + pageSize * (currentPage - 1) }} </h3>

					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">{{e.name}}</h3>
						</div>
						<div class="panel-body">
							<div class="jumbotron">
								<div class="row">
									<div class="col-md-4">
										<p> From: {{e.startTime.slice(0,10)}} | {{e.startTime.slice(11,19)}} </p>

										<p> To: {{e.endTime.slice(0,10)}} | {{e.endTime.slice(11,19)}} </p>

									</div>
									<div class="col-md-6">
										<p> {{"views.bundle.Address" | translate}}: {{e.address}} </p>
										<p>{{"views.bundle.Information" | translate}}: {{e.details}} </p>
									</div>
									<div class="col-md-2">


										<p> {{"views.bundle.Price" | translate}}: $ {{e.price.ammount}} </p>


										<p> Category: {{e.profile.categories[0].name}} </p>
										<!--
										<p> Category:{{ (typeof e.profile.categories[0].name === 'undefined' || e.profile.categories[0].name === null) ? 'available' : 'oh no, you don't have it' }} </p>

										<p> Category:{{ isExists(e.profile.categories[0].name) ? "it's true" : "it's false"}} </p>
-->
									</div>
								</div>

								<button type="button" class="btn btn-success btn-block" ng-click="Assist(e.id)" type="button">Assist</button>
								<button type="button" class="btn btn-success btn-block" ng-click="ViewInfo(e.id)" type="button">ViewInfo</button>

							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>

		<dir-pagination-controls></dir-pagination-controls>

	</div>
</div>