<div class="container">


 {{time}} {{myDate}}

slice {{myDate.slice(3,6)}}


    <div class="well ">
        <h1 class="text-center">Create Event</h1>
        <form novalidate class="form-horizontal">



            <input ng-model="newEvent.address" type="text" class="form-control" placeholder="Address">
            <input ng-model="newEvent.name" type="text" class="form-control" placeholder="Name">
            <input ng-model="newEvent.price.ammount" type="text" class="form-control" placeholder="Price">

            <input ng-model="newEvent.attenders.maxCapacity" type="text" class="form-control" placeholder="MaxCapacity">
            <input ng-model="newEvent.attenders.recommendedMinGroup" type="text" class="form-control" placeholder="RecommendedMinGroup">
            <input ng-model="newEvent.attenders.recommendedMaxGroup" type="text" class="form-control" placeholder="RecommendedMaxGroup">

            <input ng-model="newEvent.details" type="text" class="form-control" placeholder="Details">

            <br>

            <div ng-cloak>
                <div layout-gt-xs="row">
                    <div flex-gt-xs>
                        <h4>{{"views.tripSelection.ChooseADay" | translate}}</h4>
                        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                    </div>
                </div>
            </div>


            <input mdc-datetime-picker="" date="false" time="true" type="text" id="time2" placeholder="Time" min-date="minDate" format="HH:mm"
                ng-model="time" class=" md-input">


            <div class="form-group jumbotron">
                <div class="">
                    <button type="submit" ng-click="save(newEvent)" class="btn btn-success btn-block">Create</button>

                </div>
            </div>

{{preDateF}}
<br>
{{postDatef}}

            {{event}}
            <div class="form-group">
                <div class="">
                    <button type="submit" ng-click="show(newEvent)" class="btn btn-lg btn-success">Show</button>

                </div>
            </div>


        </form>
    </div>




</div>