<div class="container">


    <div class="text-center">
        <h3>
            {{"views.editProfile.suggest" | translate}}
        </h3>
    </div>

    <flash-message class="zindex"></flash-message>

    <br><br>



    <form novalidate class="form-horizontal">
        <input ng-model="price" type="text" class="form-control" placeholder="Price">
        <br>
        <div class="form-group ">
            <div class="text-center">
                <button type="submit" ng-click="setPrice()" class="btn btn-success ">{{"views.editProfile.setPrice" | translate}}</button>
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col-md-6">

            <form novalidate class="form-horizontal">
                <input ng-model="category" type="text" class="form-control" placeholder="Category">
                <br>
                <div class="form-group ">
                    <div class="text-center">
                        <button type="submit" ng-click="addCategory()" class="btn btn-success ">{{"views.editProfile.addCategory" | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form novalidate class="form-horizontal">
                <input ng-model="friend" type="text" class="form-control" placeholder="Friend">
                <br>
                <div class="form-group ">
                    <div class="text-center">
                        <button type="submit" ng-click="addFriend()" class="btn btn-success ">{{"views.editProfile.addFriend" | translate}}</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>