<div class="container">

	{{test}}


	<br><br><br><br><br><br>

	<div class="panel-body">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-4">
					<p> From : {{e.startTime.slice(0,10)}} | {{e.startTime.slice(11,19)}} </p>

					<p> To : {{e.endTime.slice(0,10)}} | {{e.endTime.slice(11,19)}} </p>

				</div>
				<div class="col-md-6">
					<p> {{"views.bundle.Address" | translate}} : {{e.address}} </p>
					<p>{{"views.bundle.Information" | translate}} : {{e.details}} </p>
				</div>
				<div class="col-md-2">


					<p> {{"views.bundle.Price" | translate}} : $ {{e.price.ammount}} </p>


					<!--					<p> Category: {{e.profile.categories[0].name}}
					</p> -->

					<p> {{"views.user.Categories" | translate}}: {{edto.categories.length;}} </p>

					<p>
						<div ng-repeat="c in edto.categories">
							<h4> {{c}}</h4>
						</div>
					</p>

					<p> {{"views.user.Attenders" | translate}}: {{edto.attenders.length;}} </p>

					<p>
						<div ng-repeat="a in edto.attenders">
							<h4> {{a}}</h4>
						</div>
					</p>


					<!--
										<p> Category:{{ (typeof e.profile.categories[0].name === 'undefined' || e.profile.categories[0].name === null) ? 'available' : 'oh no, you don't have it' }} </p>

										<p> Category:{{ isExists(e.profile.categories[0].name) ? "it's true" : "it's false"}} </p>
-->
				</div>
			</div>
			<!--
			<button type="button" class="btn btn-success btn-block" ng-click="ViewInfo(e.id)" type="button">View info</button>
-->
		</div>
	</div>

	<div>
		<ng-map zoom="11" center="{{map.address}}" style="width:600px; height:400px">
			<marker position="{{map.address}}" title="{{address}}"></marker>
			<marker position="Brampton Canada" title="Brampton Canada"></marker>
		</ng-map>
		<br/>Address : <input ng-model="map.address" />
	</div>


	<br><br><br><br><br><br>

