<div class="container">

{{test}}
	<div class="spanBottomLine">
		<p>This is the event view.</p>
	</div>


	<div class="spanBottomLine">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Single Event Name</h3>
			</div>
			<div class="panel-body">
				<div class="jumbotron">
					<div class="row">
						<div class="col-md-4">
							<p> StartTime : 20:15 </p>
							<p> EndTime: 22:00</p>
						</div>
						<div class="col-md-6">
							<p> Address: qwdqdqwdq 2334 </p>
							<p> info : adasdsa qwe qew ds da ds d asd a sd a</p>
						</div>
						<div class="col-md-2">
							<p> price :2</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="spanBottomLine">

		<h2>bundle</h2>


		<div class="row">
			<div class="col-md-3">

				<h4>StarTime 19:00</h4>

			</div>
			<div class="col-md-3">

				<h4>EndTime 21:99</h4>

			</div>

		</div>


		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">First Event Name</h3>
			</div>
			<div class="panel-body">
				<div class="jumbotron">
					<div class="row">
						<div class="col-md-4">
							<p> StartTime : 20:15 </p>
							<p> EndTime: 22:00</p>
						</div>
						<div class="col-md-6">
							<p> Address: qwdqdqwdq 2334 </p>
							<p> info : adasdsa qwe qew ds da ds d asd a sd a</p>
						</div>
						<div class="col-md-2">
							<p> price :2</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Second Event Name</h3>
			</div>
			<div class="panel-body">
				<div class="jumbotron">
					<div class="row">
						<div class="col-md-4">
							<p> StartTime : 20:15 </p>
							<p> EndTime: 22:00</p>
						</div>
						<div class="col-md-6">
							<p> Address: qwdqdqwdq 2334 </p>
							<p> info : adasdsa qwe qew ds da ds d asd a sd a</p>
						</div>
						<div class="col-md-2">
							<p> price :2</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>