<div class="gifDance">

	<div class="container">

		<div class="jumbotron">

			<a class="btn btn-block btn-social btn-google btn-primary">
				<span class="fa fa-google"></span> Sign in with Google
			</a>

			<a class="btn btn-block btn-social btn-twitter btn-primary">
				<span class="fa fa-twitter"></span> Sign in with Twitter
			</a>

			<a class="btn btn-block btn-social btn-facebook btn-primary">
				<span class="fa fa-facebook"></span> Sign in with Facebook
			</a>
		</div>
	</div>
</div>