<p>This is the test view.</p>
<div ng-app="frontend">
    <div ng-controller="CalculatorController">
        numb:
        <input type="number" ng-model="number" />
        <button ng-click="doSquare()">X<sup>2</sup></button>
        <button ng-click="doCube()">X<sup>3</sup></button>

    <div> answer : {{answer}}</div>
    </div>
</div>

<div ng-controller="mainCtrl">
    <input type="number" ng-model="values.first" ng-change="doCalculations(sign, values.first, values.second)">
        <select ng-model="sign" ng-change="doCalculations(sign, values.first, values.second)">
            <option value="+">+
            <option value="-">-
            <option value="*">*
            <option value="/">/
        </select>
    <input type="number" ng-model="values.second" ng-change="doCalculations(sign, values.first, values.second)">
        = {{result}}
</div>

