<div class="">

	<div class="container">

		<div class="well well-lg">
			<flash-message class="zindex"></flash-message>


			<div class="row">
				<div class="col-md-6">
					<button type="button" ng-click="cheap()" class="btn btn-primary btn-block">{{"views.tripSelection.Cheap" | translate}}</button>
					<button type="button" ng-click="friends()" class="btn btn-primary btn-block">{{"views.tripSelection.Friends" | translate}}</button>
					<button type="button" ng-click="saturdayNightFever()" class="btn btn-primary btn-block">{{"views.tripSelection.SaturdayNightFever" | translate}}</button>
					<button type="button" ng-click="couple()" class="btn btn-primary btn-block">{{"views.tripSelection.Couple" | translate}}</button>
					<button type="button" ng-click="surprice()" class="btn btn-primary btn-block">{{"views.tripSelection.Surprice" | translate}}</button>
				</div>
				<div class="col-md-6 center-block">

					<div class="text-center">
						<div ng-cloak>
							<div layout-gt-xs="row">
								<div flex-gt-xs>
									<h4>{{"views.tripSelection.ChooseADay" | translate}}</h4>
									<br>
									<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<br>

		</div>

	</div>
</div>