<p>This is the trip selecition view.</p>
<div class="row">
	<div class="col-md-6">
		<button type="button" class="btn btn-primary btn-block">{{"views.tripSelection.Cheap" | translate}}</button>
		<button type="button" class="btn btn-primary btn-block">{{"views.tripSelection.Friends" | translate}}</button>
		<button type="button" class="btn btn-primary btn-block">{{"views.tripSelection.SaturdayNightFever" | translate}}</button>
		<button type="button" class="btn btn-primary btn-block">{{"views.tripSelection.Couple" | translate}}</button>
		<button type="button" class="btn btn-primary btn-block">{{"views.tripSelection.Surprice" | translate}}</button>
	</div>
	<div class="col-md-6">
		<div ng-cloak>
			<div layout-gt-xs="row">
				<div flex-gt-xs>
					<h4>{{"views.tripSelection.ChooseADay" | translate}}</h4>
					<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
				</div>
			</div>
		</div>
	</div>
</div>