<div class="container">

	<div class="jumbotron">


		<img ng-src={{userImg}} alt="UserImg" /> {{userEmail}}

		<p>This is the user view.</p>

		<!--{{userName}}-->


		<h3>{{"views.user.Username" | translate}}</h3>

		{{userName}}

		<br>


		<h3>{{"views.user.Categories" | translate}}: {{categories.length;}}</h3>

		<div ng-repeat="c in categories">
			{{c}}
		</div>


		<br>

		<h3>{{"views.user.LowCostTrip" | translate}}</h3>

		{{lowCostTrip}}


		<br>

		<h3>{{"views.user.Friends" | translate}}: {{friends.length;}} </h3>
		<div ng-repeat="f in friends">
			{{f}}
		</div>




		<br>

		<h3>{{"views.user.PersonalEvents" | translate}} : {{personalEvents.length;}}</h3>
		<div ng-repeat="pe in personalEvents">
			{{pe}}
		</div>


		<br>

		<h3>{{"views.user.AttendedEvents" | translate}}: {{attendedEvents.length;}}</h3>

		<div ng-repeat="ae in attendedEvents">
			{{ae}}
		</div>





	</div>
</div>