<div class="container">

	<div class="jumbotron">




		<p>This is the user view.</p>

		<!--{{userName}}-->


		<h3>{{"views.user.Username" | translate}}</h3>

		{{userName}}

		<br>


		<h3>{{"views.user.Categories" | translate}}</h3>

		{{categories}}


		<br>

		<h3>{{"views.user.LowCostTrip" | translate}}</h3>

		{{lowCostTrip}}


		<br>

		<h3>{{"views.user.Friends" | translate}}</h3>

		{{friends}}


		<br>

		<h3>{{"views.user.PersonalEvents" | translate}}</h3>

		{{personalEvents}}


		<br>

		<h3>{{"views.user.AttendedEvents" | translate}}</h3>

		{{attendedEvents}}



		<form novalidate class="form-horizontal">


			<input ng-model="friend.userName" type="text" class="form-control" placeholder="Friend Name">

		</form>
		<button type="button" class="btn btn-success btn-block" ng-click="AddFriend()" type="button">AddFriend</button>




	</div>
</div>